.wrapper {
    height: 786px;
    background-image: url("../img/base1.png");
}
.content{
    width: 100%;
    height: auto;
}
.the-range-text{
    color:#521a66;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 8%;
    align-items: center;
}
.text2{
    font-family: "OpenSansLight";
    font-size: 30px;
}
.text1{
    text-align: center;
    font-family: "ProximaNovaRegular";
    font-size: 20px;
    max-width: 500px;
}
.wrapper2{
    background-image: url("../img/base2.png");
    height: 789px;

}
.new-venture{
    color:white;
    font-family: "OpenSansLight";
    font-size: large;
    padding-left: 0;
}
.the-venture-text{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    width: 65%;
    align-items: center;
}
.ipsum1{
    color:#815392;
    text-align: center;
    font-family: "LatoRegular";
    font-size: 20px;

}
.get-started  {
    width: 220px;
    height: 60px;
    color:white;
    background-color:#58c4c4;
    border-color: #58c4c4;
    margin-top: 5%;
    border-width: 0;
    font-weight: bolder;
    font-size: large;
}
.design{
    background-image: url("../img/disign.png");
    height: 960px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding-top: 5%;

}
.Design-Worth-Using{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
    margin-right: 5%;
}
.Design-Worth-Using * {
    float: right;
    margin-right: 20px;
}
.text3{
    color:white;
    font-family: "OpenSansLight";
    font-size: larger;
    padding-left:0;
}
.ipsum2{
    color:#815392;
    text-align: right;
    width: 82%;
    font-family: "MyriadProRegular";
    font-size: 20px;
}
.get-started2{
    width: 220px;
    height: 60px;
    color:white;
    background-color:#58c4c4;
    border-color: #58c4c4;
    margin-top: 5%;
    border-width: 0;
    font-weight: bolder;
    font-size: large;
}
.white-design-block{
    width: 100%;
    height: 860px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.rigth-block{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding-top: 5%;
    justify-content: space-around;
    font-family: "LatoRegular";
    color:#838b8f;
    font-size: 20px;
}
h2{
    font-family: "LatoBold";
    color: #521a66;
    font-size: 15px;
    letter-spacing: 2px;
}
.get-started3{
    width: 220px;
    height: 60px;
    color:white;
    background-color:#58c4c4 ;
    border-color: #58c4c4;
    margin-top: 10%;
    border-width: 0;
    font-weight: bolder;
    font-size: large;

}
.left-block{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding-top: 5%;
    justify-content: space-around;
    font-family: "LatoRegular";
    color:#838b8f;
    font-size: 20px;
}
.Experience{
    background-image: url("../img/rush.png");
    height: 450px;
}
.text4{
    color:white;
    font-family: "OpenSansLight";
    font-size: larger;
}
.rush{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    width: 65%;
    align-items: center;
}
.last-block{
    height: 480px;
}
.Guff{
    width: 22%;
    text-align: center;
    font-family: "LatoRegular";
    color: #939a9d;
    font-size: 20px;
}
.Detailed-Stats{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-around;
    padding-top: 8%;
    padding-left: 15%;


}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
}
.social{
    height: 85px;
    background-color:#303d4c ;

}
.twitter{
    padding-left: 1%;
}
.footer{
    height: 140px;
    background-color: #25303e;
}
.last-text{
    color: #83969f;
    display: flex;
    flex-direction: row;
    padding-top: 4%;
    justify-content: space-around;
    font-family: "LatoBold";
    font-size: 20px;

}
.copyrigth{
    color: #83969f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "LatoBold";
    font-size: 19px;
    letter-spacing: 3px;
    padding-left: 12%;
}
.min{
    font-family: "LatoRegular";
    font-size: 15px;
}
@media only screen and (min-device-width : 320px)
and (max-device-width : 480px) {
    .img-phone{
        display: none;  }
    .white-design-block{
        height: auto;
        flex-direction: column;
    }
    .rigth-block , .left-block{
        width: 85%;
        text-align: center;
    }
    .left-block{
        padding-bottom: 5%;
    }
    .new-venture{
        text-align: center;
    }
    .Design-Worth-Using{
        margin: 0;
        align-items: center;
        width: 70%;

    }
    .ipsum2{
        color:#521a66;
        text-align: center;
    }
    .text3{
        margin: 0;
        text-align: center;
    }
    .design{
        height: auto;
        padding-bottom: 5%;
    }
    .Experience{
        height: auto;
    }
    .rush{
        width: 55%;
        padding-top:5%;
        padding-bottom: 5%  }
    .text4{
        text-align: center;
    }
    .Detailed-Stats{
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-left: 0;
        margin: 0;
    }
    .Guff{
        width: 100%;

    }
    .last-block{
        height: auto;
    }
    .social{
        height: auto;
    }
    .copyrigth{
        font-size: 15px;
        padding-left: 5%;
    }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}
.img-phone{
    width: 70%;
    padding-top:5%;
}

.img-phone .phone{
    width: 100%;
}